@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MrFixIt.Models.Job
<h4>Update the status: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)

    @Html.LabelFor(model => model.Completed)
    @Html.EditorFor(model => model.Completed)

    @Html.LabelFor(model => model.Pending)
    @Html.EditorFor(model => model.Pending)


    <input type="submit" value="Save" class="btn btn-default" />
}
