@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
   
        <h1>@Job.Title</h1>
        
            <h3>@Job.Description</h3>
        
        @if (Job.Worker == null)
        {
        <p class="claim-job" id="@Job.Title" value="@Job.JobId">Claim it</p>
        <div class="claim"></div>
        }
        else
        {
            <p class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</p>

            }


    <button class="update-status">Update Status</button>
    <div class="update"></div>
            <hr />

            
            }

