@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
   
        <h1>@Job.Title</h1>
        
            <h3>@Job.Description</h3>
        
        @if (Job.Worker == null)
        {
        <button class="claim-job" id="@Job.Title" value="@Job.JobId">Claim it</button>
        <div class="claim"></div>
        }
        else
        {
            <p class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</p>
            //This displays whether the job is completed or not when status is changed by button
            @if (Job.Completed == true)
            {
                <p>This job is complete</p>

            }
            else if (Job.Pending == true)
            {
                <p>This job is still pending.</p>

            }
 

        }


    <button class="update-complete" value="@Job.JobId">Complete</button>
    <hr />
    <div class="update"></div>
            <hr />

            
            }

