@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
   
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
            //allows user to click on name of job and claim it with AJAX
        <li class="claim-job" value="@Job.JobId">This job is unclaimed.</li>
        <div class="claim"></div>
        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>
            //Allows user to click on update status and see drop down for pending or complete
            <li class="update-status">Update Status</li>
            <div class="update"></div>

        }


    //Able to see if job is pending or complete on index page.
    @if (Job.Completed == true)
    {
        <p>This job is complete</p>

    }
    else
    {
        <p>This job is pending</p>

    }



            <hr />

            
            }

